APP_NAME=tray_test
APP_ENV=local
APP_KEY=base64:PWvYdjrF0fGy6E24b/hG4lF8CggKniUC9BEYmAfXoBk=
APP_DEBUG=true
APP_URL=http://localhost:8989

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=tray_test
DB_USERNAME=tray_username
DB_PASSWORD="tray@123#456"

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"
JWT_SECRET=L8qvPm7IOE8AYF58Gm58P2peMhltUiWxGulJVAxnGJMS5JgKK7VcbKNMaJSPtzyQ

JWT_ALGO=HS256

JWT_PRIVATE_KEY=file://../storage/certs/jwt-rsa-4096-private.pem

JWT_PUBLIC_KEY=file://../storage/certs/jwt-rsa-4096-public.pem

JWT_PASSPHRASE=
